
.score-card {
  display: flex;
}

.frame {
  width: 4rem;
  height: 4rem;
  border-style: solid;
  text-align: center;
  font-size: 2rem;
}

.rolls {
  display: flex;
  justify-content: flex-end;
}

.roll {
  font-size: 1rem;
  text-align: center;
  width: 1rem;
  border-style: solid;
  border-top-style: none;
  border-right-style: none;
}

.score-buttons {
  width: 7rem;
}

.score-buttons .row{
  display: flex;

}

.score-button {
  text-align: center;
  width: 100%;
  border-style: solid;
  border-width: 0.03rem;
  margin: 0.03rem;
  color: rgb(119, 119, 119);
}

.score-button:hover {
  color: black;
}

.score-button:active {
  transform: scale(0.99);
}



